<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4 text-center">
        <a href="https://placeholder.com"><img src="https://via.placeholder.com/250x250?text=Image+of+this+place"></a>
    </div>
    <div class="col-md-4 text-center">
        <a href="https://placeholder.com"><img src="https://via.placeholder.com/250x250?text=Image+of+this+place"></a>
    </div>
    <div class="col-md-4 text-center">
        <a href="https://placeholder.com"><img src="https://via.placeholder.com/250x250?text=Image+of+this+place"></a>
    </div>
</div>
{% endblock %}
